/* laser blue color code rgb(0, 173, 223) */
/* wolf grey hex code #737d84 */
/* volt hex code #ceff00 */
/* infrared hex code #ff2247 */

html,
body {
  /* position: relative; */
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
